<% if line_item == @current_item %>
	<tr id="current_item"></tr>
<% else %>
<% end %>
<tr>
	<td><%= line_item.product.title %></td>
	<td class="td_mid"><%= line_item.quantity %></td>
	<td class="line_price">£<%= line_item.total_price %></td>
</tr>
